services:
  mongodb:
    image: mongo:7.0.5
    container_name: mongo-container
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: product-service
    volumes:
      - ./data:/data/db